<p class="fs-1">
  <h1>Роздоділ Пуассона</h1>
</p>
<p class="text-justify fs-5">
  Розподіл Пуассона – це дискретний розподіл ймовірностей, який виражає ймовірність заданого числа подій, що відбуваються в фіксованому інтервалі часу або простору, якщо ці події відбуваються з відомою середньою постійною швидкістю і незалежно від часу з моменту останньої події.
  Розподіл Пуассона також може бути використаний для кількості подій в інших визначених типах інтервалів, таких як відстань, площа або об'єм.
</p>
<p class="text-justify fs-5">
  Розподіл Пуассона може бути застосований до систем з великим числом можливих подій, кожне з яких рідко зустрічається.
  Кількість таких подій, які відбуваються протягом фіксованого часового проміжку, при правильних обставинах є випадковим числом з розподілом Пуассона.
</p>
<p class="text-justify fs-5">
  Розподіл Пуассона є дійсним, якщо вірні наступні припущення:<br>
</p>
  <ul class="text-justify fs-5">
    <li>k – кількість разів, коли подія відбувається в інтервалі, k може приймати значення 0, 1, 2, ... .</li>
    <li>Настання однієї події ніяк не впливає на ймовірність того, що відбудеться друга подія. Тобто події відбуваються самостійно.</li>
    <li>Середня швидкість, з якою відбуваються події, не залежить від будь-яких подій. Для простоти це зазвичай вважається постійним.</li>
    <li>Дві події не можуть відбутися в абсолютно однакову мить; натомість на кожному дуже маленькому підінтервалі або відбувається рівно одна подія, або жодної</li>
  </ul>
<p class="text-justify fs-5">
  Випадкова величина X називається розподіленою за законом Пуассона з параметром λ, якщо для неї виконується рівність:
</p>
<p class="text-center fs-5">
  <%= image_tag("PMF_function.png") %>
</p>
<p class="text-justify fs-5">
  де k – число входжень (k = 0, 1, 2 …).
</p>
<p class="text-justify fs-5">
  Графік густини розподілу ймовірностей наведено на рисунку 1.1
</p>
<p class="text-center fs-5">
  <br><%= image_tag("Poisson_pmf.svg") %><br>
  Рисунок 1.1 – Густина розподілу ймовірностей (PMF)
</p>
<p class="text-justify fs-5">
  В свою чергу функція розподілу ймовірностей (CDF) має наступний вигляд:
</p>
<p class="text-center">
  <%= image_tag("CDF_function.png") %>
</p>
<p class="text-justify fs-5">де Г(x, y) – верхня неповна Гамма функція, [k]– ціла частина числа k. Графік функції розподілу ймовірностей (CDF) наведено на рисунку 1.2</p>
<p class="text-center fs-5">
  <br><%= image_tag("Poisson_cdf.svg") %><br>
  Рисунок 1.2 – Функції розподілу ймовірностей (CDF)
</p>
<p class="text-justify fs-5">
  Мода розподілу Пуассона знаходиться за формулою:
  <p class="text-center">
    <%= image_tag("Mode.png") %>
  </p>
</p>
<p class="text-justify fs-5">
  Додатне дійсне число λ дорівнює математичному сподіванню X, а також її дисперсії:
</p>
<p class="text-center">
  <%= image_tag("Dispersion_and_expected_value.png") %>
</p>